extends layout 
 
block content 
  h1= title 
 
  - let tableid = toShow._id 
  - let table_material = toShow.table_material 
  - let tablelength = toShow.length
  - let tablewidth = toShow.size 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{tableid} 
  - let actionid = "/resource/tables/" + tableid 
  form(id='TableForm', action= actionid, method="PUT") 
    div.form-group 
        label.tableAttr(for='table_material') Table Material
        input#table_material(type='text', name='table_material', value= table_material ) 
    div.form-group 
        label.tableAttr(for='length') Table Length 
        input#size(type='number', name='length', value= tablelength ) 
    div.form-group 
        label.TableAttr(for='width') Table width 
        input#cost(type='number', name='width', value= tablewidth ) 
    input(type="submit") 
 
  script. 
    document.forms['TableForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 