extends layout 
 
block content 
  h1= title 
 
  form(id='TableForm', action="/resource/tables", method="POST") 
    div.form-group 
        label.tableAttr(for='material') Material  
        input#material(type='text', name='material') 
    div.form-group 
        label.tableAttr(for='length') Table length 
        input#length(type='text', name='length') 
    div.form-group 
        label.tableAttr(for='width') Table width 
        input#width(type='number', name='cost') 
    input(type="submit") 
 
  script. 
    document.forms['TableForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 