extends layout 
 
block content 
  h1= title 
 
  form(id='tableForm', action="/resource/tables", method="POST") 
    div.form-group 
        label.costumeAttr(for='table_material') Table Material 
        input#costume_type(type='text', name='table_material') 
    div.form-group 
        label.costumeAttr(for='length') Table Length
        input#size(type='number', name='length') 
    div.form-group 
        label.costumeAttr(for='width') table width
        input#cost(type='number', name='width') 
    input(type="submit") 
 
  script. 
    document.forms['TableForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });